allow init vendor_file:file execute_no_trans;
binder_call(init, hwservicemanager);
allow init { hal_power_hwservice hidl_base_hwservice }:hwservice_manager add;
